<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Clase8</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>test persistence</servlet-name>
  	<servlet-class>mc.com.Cetech.system.servlet.TestConnection</servlet-class>  
  </servlet>
  
 
  <servlet>
  	<servlet-name>Encontrar por descripcion</servlet-name>
  	<servlet-class>mc.com.Cetech.system.servlet.FindByDescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Encontrar por descripcion</servlet-name>
	<url-pattern>/encontrar.htm</url-pattern>
  </servlet-mapping>
  
</web-app>