<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Clase7Tomee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>User Type Servlet</servlet-name>
  	<servlet-class>mx.com.Cetech.Clase7Tomee.controller.SaveUserTypeController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>User Type Find All</servlet-name>
  	<servlet-class>mx.com.Cetech.Clase7Tomee.controller.FindAllUserTypeController</servlet-class>
  </servlet>
  
  <!-- Mapeo -->
  <servlet-mapping>
  	<servlet-name>User Type Servlet</servlet-name>
  	<url-pattern>/saveUserType.do</url-pattern>
  </servlet-mapping>
  
   
  <servlet-mapping>
  	<servlet-name>User Type Find All</servlet-name>
  	<url-pattern>/finAllType.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>